# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Pytest
.pytest_cache/

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
build/
dist/

# Environment variables
.env

# Coverage reports
.coverage
htmlcov/

# Bytecode
*.pyo

# Logs
*.log
